body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1395px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2139 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:48px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2139_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2140 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:104px;
  width:85px;
  height:30px;
  font-size:14px;
}
#u2140_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:81px;
  word-wrap:break-word;
}
#u2141_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:39px;
}
#u2141 {
  border-width:0px;
  position:absolute;
  left:1339px;
  top:100px;
  width:56px;
  height:39px;
}
#u2141_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:149px;
  width:1357px;
  height:92px;
}
#u2143_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2143_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2144 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:0px;
  width:151px;
  height:33px;
}
#u2144_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2145_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2145 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:0px;
  width:151px;
  height:33px;
}
#u2145_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2146_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2146 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:0px;
  width:151px;
  height:33px;
}
#u2146_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2147_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2147 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:0px;
  width:151px;
  height:33px;
}
#u2147_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2148_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2148 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:0px;
  width:151px;
  height:33px;
}
#u2148_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2149 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:0px;
  width:151px;
  height:33px;
}
#u2149_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2150_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:33px;
}
#u2150 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:0px;
  width:151px;
  height:33px;
}
#u2150_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:147px;
  word-wrap:break-word;
}
#u2151_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:33px;
}
#u2151 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:0px;
  width:149px;
  height:33px;
}
#u2151_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:145px;
  word-wrap:break-word;
}
#u2152_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:33px;
  width:151px;
  height:29px;
}
#u2152_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2153 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:33px;
  width:151px;
  height:29px;
}
#u2153_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2154 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:33px;
  width:151px;
  height:29px;
}
#u2154_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2155 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:33px;
  width:151px;
  height:29px;
}
#u2155_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2156 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:33px;
  width:151px;
  height:29px;
}
#u2156_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2157 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:33px;
  width:151px;
  height:29px;
}
#u2157_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2158 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:33px;
  width:151px;
  height:29px;
}
#u2158_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:29px;
}
#u2159 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:33px;
  width:151px;
  height:29px;
}
#u2159_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:147px;
  word-wrap:break-word;
}
#u2160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:29px;
}
#u2160 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:33px;
  width:149px;
  height:29px;
}
#u2160_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:145px;
  word-wrap:break-word;
}
#u2161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:151px;
  height:30px;
}
#u2161_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2162 {
  border-width:0px;
  position:absolute;
  left:151px;
  top:62px;
  width:151px;
  height:30px;
}
#u2162_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2163 {
  border-width:0px;
  position:absolute;
  left:302px;
  top:62px;
  width:151px;
  height:30px;
}
#u2163_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2164 {
  border-width:0px;
  position:absolute;
  left:453px;
  top:62px;
  width:151px;
  height:30px;
}
#u2164_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2165 {
  border-width:0px;
  position:absolute;
  left:604px;
  top:62px;
  width:151px;
  height:30px;
}
#u2165_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2166 {
  border-width:0px;
  position:absolute;
  left:755px;
  top:62px;
  width:151px;
  height:30px;
}
#u2166_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2167 {
  border-width:0px;
  position:absolute;
  left:906px;
  top:62px;
  width:151px;
  height:30px;
}
#u2167_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:30px;
}
#u2168 {
  border-width:0px;
  position:absolute;
  left:1057px;
  top:62px;
  width:151px;
  height:30px;
}
#u2168_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:147px;
  word-wrap:break-word;
}
#u2169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:30px;
}
#u2169 {
  border-width:0px;
  position:absolute;
  left:1208px;
  top:62px;
  width:149px;
  height:30px;
}
#u2169_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u2170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2170 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:300px;
  width:119px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2170_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:119px;
  white-space:nowrap;
}
#u2171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:917px;
  height:575px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2171 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:350px;
  width:917px;
  height:575px;
}
#u2171_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2172 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:384px;
  width:271px;
  height:25px;
}
#u2172_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2173_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2173 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:384px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2173_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2174 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:428px;
  width:19px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2174_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  white-space:nowrap;
}
#u2175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2175 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:431px;
  width:73px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2175_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2176 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:519px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2176_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2177 {
  border-width:0px;
  position:absolute;
  left:92px;
  top:724px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2178 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:519px;
  width:271px;
  height:22px;
}
#u2178_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u2178_input:disabled {
  color:grayText;
}
#u2179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u2179 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:514px;
  width:340px;
  height:32px;
  color:#0066FF;
}
#u2179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
#u2180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:11px;
}
#u2180 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:390px;
  width:10px;
  height:11px;
}
#u2180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2181 {
  border-width:0px;
  position:absolute;
  left:348px;
  top:785px;
  width:140px;
  height:40px;
  font-size:14px;
}
#u2181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u2182 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:785px;
  width:140px;
  height:40px;
  font-size:14px;
}
#u2182_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u2183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u2183 {
  border-width:0px;
  position:absolute;
  left:508px;
  top:789px;
  width:216px;
  height:48px;
  color:#0066FF;
}
#u2183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  word-wrap:break-word;
}
#u2184 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:431px;
  width:532px;
  height:69px;
}
#u2184_input {
  position:absolute;
  left:0px;
  top:0px;
  width:532px;
  height:69px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
  text-align:left;
}
#u2185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2185 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:558px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2186 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:558px;
  width:271px;
  height:25px;
}
#u2186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2187 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:600px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2188 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:600px;
  width:271px;
  height:25px;
}
#u2188_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2189 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:642px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2190 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:642px;
  width:271px;
  height:25px;
}
#u2190_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2191 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:530px;
  width:0px;
  height:0px;
}
#u2191_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u2191_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:132px;
}
#u2191_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:120px;
  width:23px;
  height:8px;
}
#u2191_seg3 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:114px;
  width:20px;
  height:20px;
}
#u2191_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:54px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2192 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:530px;
  width:0px;
  height:0px;
}
#u2192_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u2192_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:91px;
}
#u2192_seg2 {
  border-width:0px;
  position:absolute;
  left:-37px;
  top:79px;
  width:22px;
  height:8px;
}
#u2192_seg3 {
  border-width:0px;
  position:absolute;
  left:-44px;
  top:73px;
  width:20px;
  height:20px;
}
#u2192_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:33px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2193 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:530px;
  width:0px;
  height:0px;
}
#u2193_seg0 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:23px;
  height:8px;
}
#u2193_seg1 {
  border-width:0px;
  position:absolute;
  left:-23px;
  top:-4px;
  width:8px;
  height:48px;
}
#u2193_seg2 {
  border-width:0px;
  position:absolute;
  left:-38px;
  top:36px;
  width:23px;
  height:8px;
}
#u2193_seg3 {
  border-width:0px;
  position:absolute;
  left:-45px;
  top:30px;
  width:20px;
  height:20px;
}
#u2193_text {
  border-width:0px;
  position:absolute;
  left:-69px;
  top:12px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2194 {
  border-width:0px;
  position:absolute;
  left:499px;
  top:530px;
  width:0px;
  height:0px;
}
#u2194_seg0 {
  border-width:0px;
  position:absolute;
  left:-36px;
  top:-4px;
  width:40px;
  height:8px;
}
#u2194_seg1 {
  border-width:0px;
  position:absolute;
  left:-43px;
  top:-10px;
  width:20px;
  height:20px;
}
#u2194_text {
  border-width:0px;
  position:absolute;
  left:-68px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2195 {
  border-width:0px;
  position:absolute;
  left:105px;
  top:685px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2196 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:684px;
  width:271px;
  height:25px;
}
#u2196_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u2197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u2197 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:688px;
  width:17px;
  height:17px;
}
#u2197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2198 {
  border-width:0px;
  position:absolute;
  left:192px;
  top:724px;
  width:271px;
  height:25px;
}
#u2198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#0066FF;
}
#u2199 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:729px;
  width:340px;
  height:16px;
  color:#0066FF;
}
#u2199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  word-wrap:break-word;
}
